.inptContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    width: 100%;
}

.inptTitle {
    padding-left: 0.1rem;

    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.inptInput {
    padding: 0.8rem;

    font-size: 16px;
    
    border: 1px solid var(--gray-color);
    border-radius: 0.6rem;

    outline: none;
    transition: all 0.2s ease-in-out;
}

.inptInput:focus {
    border-color: var(--blue-color);
    box-shadow: 0 0 4px rgba(49, 130, 246, 0.3);
}

.inptError {
    padding-left: 0.6rem;

    color: var(--ERROR-COLOR);
    font-size: 0.9rem;
    font-weight: 800;
}