.MyView_Admin {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    margin: 1rem;
    padding: 0.8rem;

    justify-content: center;

    border: 0.08rem solid black;
    border-radius: 0.6rem;
}

.MyView_Admin_Welcome {
    font-weight: 700;
}

.MyView_Admin_Name {
    font-weight: 500;
}